<div class="hero_container">
<img id='heroImg' src="../assets/Hero.jpeg" alt="hiker with backpack" >
<h2>Better Than New</h2>
<button type="button" name="button">Shop Used Patagonia Gear</button>
</div>
<div class="text_banner">
  <h2>Patagonia's hub for keeping stuff in use</h2>
  <p>Worn Wear celebrates the stories we wear, keeps your gear in action longer through repair and reuse, and recycles your garments when they're beyond repair.</p>
</div>
<div class="repair_video">
  <iframe width="966" height="543" src="https://www.youtube.com/embed/hXP53mv_7Gs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="text_banner">
  <p>The single best thing we can do for the planet is keep our gear in use longer and cut down on consumption.</p>
</div>
