<div class="hero_container">
<img id='heroImg' src="../assets/Hero.jpeg" alt="hiker with backpack" >
<h2>Better Than New</h2>
<button type="button" name="button">Shop Used Patagonia Gear</button>
</div>
<div class="text_banner">
  <h2>Patagonia's hub for keeping stuff in use</h2>
  <p>Worn Wear celebrates the stories we wear, keeps your gear in action longer through repair and reuse, and recycles your garments when they're beyond repair.</p>
</div>
<div class="repair_video">
  <iframe width="966" height="543" src="https://www.youtube.com/embed/hXP53mv_7Gs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="text_banner">
  <p>The single best thing we can do for the planet is keep our gear in use longer and cut down on consumption.</p>
</div>

<!-- <app-lower-hero-grid [childInfoTiles]=masterInfoTiles></app-lower-hero-grid> -->
<app-lower-hero-grid></app-lower-hero-grid>
<br>

<div class="events_section">
  <div class="text banner">
    <p>Our Next Stop</p>
    <h2>Yosemite National Park Visitor Center</h2>
  </div>
    <img src="../assets/next-tour-date.jpg" alt="people outside">
  <div class="text banner">
    <p>We're bringing Worn Wear to you. Find us on the road or at an event and we'll help you keep your gear in action longer so you can buy less.</p>
    <button type="button" name="button">View all Events</button>
  </div>
</div>

<div class="featured-story">
  <div class="text-banner">
    <p>Featured Story</p>
    <h2>Title</h2>
  </div>
    <img src="../assets/featured-story.jpg" alt="picture of Robyn">
  <div class="text-banner">
    <p>This thrifted patagonia fleece has kept me warm for 6 seasons (and counting) of tree planting....</p>
    <a href="#">Read More</a>
    <button type="button" name="button">Share Your Story</button>
  </div>
</div>

<div class="instagram-section">
  <h2># Worn Wear</h2>
  <img src="../assets/insta1.jpg" alt="insta1">
  <img src="../assets/insta2.jpg" alt="insta2">
  <img src="../assets/insta3.jpg" alt="insta3">
  <img src="../assets/insta4.jpg" alt="insta4">
</div>
