<div class="container">

  <div>
    <ul id="upper-nav">
      <li>logo</li>
      <li>patagonia provisions</li>
      <li>action works</li>
      <li>blog</li>
    </ul>
  </div>
  <div id="main-nav">
  <img routerLink="" id="ww-logo-top" src="./assets/logo.png" alt="logo">
  <a routerLink="shop">Shop</a>
  <a routerLink="about">Inside Worn Wear</a>
  <input type="text" name="Search" value="">
  <img src="./assets/cart.png" alt="">
  </div>

  <router-outlet></router-outlet>



  <app-footer></app-footer>
</div>
